/* tipografia */
  .abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* imagen de fondo */
body {
  font-family: "Abel", sans-serif;
    background-image: url(../img/fondo.png); 
    background-repeat: repeat; 
    background-attachment: fixed; 
    font-size: 22px
   
  }
/*coloco unfondo blanco transparente para que se vea la imagen de fondo*/
.contenedor {
    background-color: ghostwhite; 
   padding: 50px;
   width: 80%;
   margin: auto;
   text-align: center;

}
/*alineacion de menu ya que hay otro ul de obras que van con viñetas*/
.menu{
  list-style: none;
  text-align: center;
  padding: 0;
}
.menu li{
  display: inline-block;
margin-right: 20px;
}

.obras{
 
  text-align: left;

}
.obras li{
  display: list-item;
}

h3
{color: lightskyblue;}

h1
{color: palevioletred;}

footer{
    background-color: black;
    padding: 20px;
    color: whitesmoke;
}
address{
    background-color: black;
    color: whitesmoke;
}